<div class="container">
    <ng-container *ngIf="listTrainings else loading">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>DESCRIPTION</th>
                    <th>PRIX</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let training of listTrainings">
                    <td>{{training.id}}</td>
                    <td>{{training.name}}</td>
                    <td>{{training.description}}</td>
                    <td>{{training.price | number:'0.2'}}€</td>
                    <td><a class="btn btn-success" [routerLink]="['/admin-data-form', training.id]">Mis à jour</a></td>
                    <td><a class="btn btn-danger" (click)="deleteTraining(training)">Supprimer</a></td>
                </tr>
                <a class="btn btn-primary" routerLink="/admin-data-form">Ajouter une formation</a>
            </tbody>
        </table>

    </ng-container>
    <ng-template #loading>
        <div>loading...</div>
    </ng-template>
</div>
