<div class="container">
    <ng-container *ngIf="listCategories || this.displayErrorMsg() else loading" class="container mt-10 mb-10">
        <div>
            <div *ngFor="let category of listCategories" class="d-inline">
                <a class="btn btn-primary me-3" (click)="getTrainingByCategory(category.id)">{{category.name}}</a>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="listTrainings || this.displayErrorMsg() else loading">
        <table class="table table-striped table-bordered table-hover" *ngIf="listTrainings">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>DESCRIPTION</th>
                    <th>CATEGORIE</th>
                    <th>PRIX</th>
                    <th>QUANTITE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let training of listTrainings">
                    <td>{{training.id}}</td>
                    <td>{{training.name}}</td>
                    <td>{{training.description}}</td>
                    <td>{{training.price | number:'0.2'}}€</td>
                    <td><input type="number" name="quantity" style="width: 60px" [(ngModel)]="training.quantity"></td>
                    <td><a class="btn btn-primary" (click)="onAddToCart(training)">Ajouter</a></td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="this.displayErrorMsg()">
            <p class="dt text-danger">{{this.displayErrorMsg()}}</p>
        </div>
    </ng-container>
    <ng-template #loading>
        <div>loading...</div>
    </ng-template>
</div>
